In [6]:
import numpy as np
import pandas as pd
import math
import yfinance as yf

In [ ]:
start_date = "2000-01-01"
end_date = "2024-12-31"
data = yf.download(symbol, start=start_date, end=end_date)

In [4]:
df=pd.read_csv("data/esg_data_for_project.csv")
df.head(15)

,risk_rating_score,risk_rating_assessment,industry_group,identifier,country,company_name
0,28.9,Medium Risk,Retailing,NAS:FLWS,United States of America,1-800-flowers-com-inc
1,27.7,Medium Risk,Telecommunication Services,ETR:1U1,Germany,1-1-ag
2,22.5,Medium Risk,Pharmaceuticals,NAS:TXG,United States of America,10x-genomics-inc
3,16.3,Low Risk,Software & Services,WAR:11B,Poland,11-bit-studios-sa
4,35.0,High Risk,Banks,NAS:SRCE,United States of America,1st-source-corp
5,24.4,Medium Risk,Transportation,OSL:2020,Bermuda,2020-bulkers-ltd
6,21.4,Medium Risk,Pharmaceuticals,OTC:MEHCQ,United States of America,23andme-holding-co
7,38.5,High Risk,Diversified Metals,ASX:29M,Australia,29metals-ltd
8,23.1,Medium Risk,Utilities,-,Italy,2i-rete-gas-spa
9,35.9,High Risk,Pharmaceuticals,NAS:TSVT,United States of America,2seventy-bio-inc
10,25.3,Medium Risk,Software & Services,-,United States of America,2u-llc
11,24.7,Medium Risk,Diversified Financials,BOM:542772,India,360-one-wam-ltd
12,22.1,Medium Risk,Software & Services,SHG:601360,China,360-security-technology-inc
13,18.1,Low Risk,Textiles & Apparel,HKG:1361,China,361-degrees-international-ltd
14,16.4,Low Risk,Software & Services,SHE:002555,China,37-interactive-entertainment-network-technolog...

In [90]:
#gdf=df.groupby('country')
#len(gdf)
#df['P1']=df['identifier'].apply(lambda x:x.split(":")[0])
#df['P2']=df['identifier'].apply(lambda x:x.split(":")[1])
#df[df['country']=='China']['identifier'].apply(lambda x:x.split(":")[0]).unique()
# df1=df[df['country']=='India']
# df1.to_csv("india.csv")
df[df['P1']=='BATS']
#df['P1'].unique()

,risk_rating_score,risk_rating_assessment,industry_group,identifier,country,company_name,P1
2185,21.5,Medium Risk,Diversified Financials,BATS:CBOE,United States of America,cboe-global-markets-inc,BATS

In [5]:
yahoo_exchange_codes = {
    'NAS': None,  # NASDAQ (NMS) - Usually no suffix
    'ETR': 'DE',   # Frankfurt Stock Exchange (often .F or .DE for XETRA) - Assuming this common usage
    'WAR': 'WA',  # Warsaw Stock Exchange (as suffix .WA)
    'OSL': 'OL',  # Oslo Stock Exchange (as suffix .OL)
    'OTC': None,  # Over-The-Counter (varies widely, no consistent Yahoo code)
    'ASX': 'AX',  # Australian Securities Exchange (as suffix .AX)
    '-': None,    # Not a stock exchange
    'BOM': 'BO',  # Bombay Stock Exchange (as suffix .BO)
    'SHG': 'SS',  # Shanghai Stock Exchange (as suffix .SS)
    'HKG': 'HK',  # Hong Kong Stock Exchange (as suffix .HK)
    'SHE': 'SZ',  # Shenzhen Stock Exchange (as suffix .SZ)
    'NYS': None,  # New York Stock Exchange (NYSE) - Usually no suffix
    'LON': 'L',   # London Stock Exchange (as suffix .L or .IL) - Using .L as common
    'PAR': 'PA',  # Euronext Paris (as suffix .PA)
    'ROCO': 'TWO', # Likely a specific market/segment, no standard Yahoo code
    'CSE': 'CO',  # Could be various exchanges (e.g., Canadian Securities Exchange), no single Yahoo code
    'MIL': 'MI',  # Borsa Italiana (Milan Stock Exchange) (as suffix .MI)
    'TAI': 'TW',  # Taiwan Stock Exchange (as suffix .TW)
    'OME': 'AS',  # Euronext Amsterdam (using common Euronext code)
    'AMS': 'AS',  # Euronext Amsterdam (as suffix .AS)
    'DSMD': 'QA', # Likely a specific market/segment, no standard Yahoo code
    'SWX': 'SW',  # Swiss Exchange (SIX) (as suffix .SW)
    'TKS': 'T',   # Tokyo Stock Exchange (as suffix .T) - Using common code for Tokyo
    'KRX': 'KS',  # Korea Exchange (as suffix .KS)
    'SAU': 'SR',  # Saudi Stock Exchange (Tadawul) - Yahoo uses .TASI for the index, individual stocks might vary
    'PHS': 'PH',  # Philippine Stock Exchange (as suffix .PH)
    'CAI': None,  # Cairo Stock Exchange (EGX) - Yahoo uses .EGX for index, individual stocks might vary
    'JSE': 'J',   # Johannesburg Stock Exchange (as suffix .J)
    'ADS': None,  # Abu Dhabi Securities Exchange (ADX) - Yahoo uses .ADX for index, individual stocks might vary
    'MCE': 'MC',  # Madrid Stock Exchange (as suffix .MC)
    'BRU': 'BR',  # Euronext Brussels (as suffix .BR)
    'TSE': 'TO',  # Toronto Stock Exchange (as suffix .TO)
    'HEL': 'HE',  # Nasdaq OMX Helsinki (as suffix .HE)
    'ATH': 'AT',  # Athens Stock Exchange (as suffix .AT)
    'BKK': 'BK',  # Stock Exchange of Thailand (as suffix .BK)
    'SES': 'SI',  # Singapore Exchange (as suffix .SI)
    'KLS': 'KL',  # Bursa Malaysia (as suffix .KL)
    'TAE': 'TA',  # Likely a specific market/segment in Taiwan, might use .TW-- No its TA for Israel
    'MAU': None,  # Stock Exchange of Mauritius - Yahoo might use .MU
    'IST': 'IS',  # Borsa Istanbul (as suffix .IS)
    'KUW': 'KW',  # Boursa Kuwait - Yahoo might use .KW
    'WBO': 'VI',  # Vienna Stock Exchange (using common code)
    'SGO': 'ST',  # Nasdaq OMX Stockholm (using common code)
    'DUB': 'DF',  # Dubai Financial Market (as suffix .DF)
    'DFM': 'DF',  # Dubai Financial Market (as suffix .DF)
    'NZE': 'NZ',  # New Zealand Stock Exchange (as suffix .NZ)
    'MEX': 'MX',  # Mexican Stock Exchange (as suffix .MX)
    'LIM': 'LM',  # Lima Stock Exchange (as suffix .LM)
    'BSP': 'SA',  # B3 - Brasil Bolsa Balcão (Sao Paulo) (using common code)
    'BUD': 'BU',  # Budapest Stock Exchange (as suffix .BU)
    'LIS': 'LS',  # Euronext Lisbon (as suffix .LS or .PL) - Using .LS as common
    'AMM': 'JO',  # Amman Stock Exchange (as suffix .JO)
    'ICE': 'IS',  # Iceland Stock Exchange (Nasdaq Iceland) (using common Nordic code)
    'TSX': 'TO',  # Toronto Stock Exchange (as suffix .TO)
    'ZAG': 'ZA',  # Zagreb Stock Exchange (as suffix .ZA)
    'HMTF': None, # Likely a specific market/segment, no standard Yahoo code
    'BSE': 'BO',  # Bombay Stock Exchange (using common code)
    'BOG': 'CO',  # Colombia Stock Exchange (as suffix .CO)
    'BUE': 'BA',  # Buenos Aires Stock Exchange (as suffix .BA)
    'PTY': 'PA',  # Panama Stock Exchange (as suffix .PA)
    'MUS': None,  # Muscat Securities Market - Yahoo might use .OM
    'BAH': None,  # Bahrain Bourse - Yahoo might use .BH
    'MAL': None,  # Likely refers to a specific market/segment in Malaysia, might use .KL
    'ASE': None,  # NYSE American (AMEX) - Usually no suffix
    'HAM': 'HM',  # Hanseatic Stock Exchange Hamburg (as suffix .HM)
    'NSE': 'NS',  # National Stock Exchange of India (using common code)
    'BATS': None, # Cboe BZX Exchange - Usually no suffix for US stocks
    'PRA': 'PR',  # Prague Stock Exchange (as suffix .PR)
    'COL': 'CO',  # Colombia Stock Exchange (using common code)
    'NSA': 'AX',  # National Stock Exchange of Australia - Might use .AX
    'DIFX': 'DU', # Nasdaq Dubai (as suffix .DU)
    'KAR': 'KA',  # Karachi Stock Exchange (Pakistan Stock Exchange - KSE) - Yahoo uses .KA
    'STC': 'ST',  # Nasdaq OMX Stockholm (using common code)
    'BER': 'BE',  # Berlin Stock Exchange (as suffix .BE)
    'LIT': 'LT',  # Nasdaq Vilnius (as suffix .VS for Nasdaq Baltic)
    'KAZ': 'KZ',  # Kazakhstan Stock Exchange (as suffix .KZ)
    'CAS': 'CS',  # Casablanca Stock Exchange (Morocco) - Yahoo might use .CS
    'TAL': 'TL',  # Nasdaq Tallinn (as suffix .VS for Nasdaq Baltic)
    'LJU': 'LJ',  # Ljubljana Stock Exchange (as suffix .LJ)
    'JKT': 'JK',  # Indonesia Stock Exchange (using common code)
    'NAI': 'NR',  # Nairobi Securities Exchange (as suffix .NR)
    'TUN': 'TN',  # Tunis Stock Exchange (as suffix .TN)
    'BRA': 'BR',  # B3 - Brasil Bolsa Balcão (Sao Paulo) (using common code)
    'MIC': 'ME'   # Moscow Exchange (MOEX) - Yahoo uses .ME
}

In [6]:
#identifier="SHG:601360"
#identifier.split(":")[0]
#3mapp[identifier.split(":")[0]]
#df[df['country']=='China']

def map_to_ticker(row_value):
    
    if (row_value['identifier'] is None or row_value['identifier'] in ['-']):
        return '-'
    if ('America' in row_value['country']):
        identifier_parts = row_value['identifier'].split(":")
        if len(identifier_parts) > 1:
            var1 = identifier_parts[1]
            return var1
    if ('Egypt' in row_value['country']):
        return row_value['identifier']
    if ('Emirates' in row_value['country']):
        return row_value['identifier']
    if (":" in row_value['identifier']):
        iden = row_value['identifier'].split(":")[0]
        stx = row_value['identifier'].split(":")[1]
        if ("." in stx):
            stx = stx.replace(".", "-")
            if yahoo_exchange_codes[iden] is not None:
                return stx+"."+yahoo_exchange_codes[iden]
            else:
                return stx
        else:
            if yahoo_exchange_codes[iden] is not None:
                return stx+"."+yahoo_exchange_codes[iden]
    else:
        return row_value['identifier']

In [7]:
#df['ticker']=df.apply(map_to_ticker, axis=1)
df.to_csv('data/output.csv', index=False)

In [8]:
#df.to_csv("data/esg_data_for_project_ticker.csv")
df = pd.read_csv("data/esg_data_for_project_ticker.csv", index_col=False)

In [9]:
import pandas as pd
import yfinance as yf

def calculate_yearly_returns_volatility(ticker):
    try:
        data = yf.download(ticker, start='2024-01-01', end='2024-12-31')
        if data.empty:
            return None

        # Calculate daily returns
        data['Daily Return'] = data['Close'].pct_change()

        # Calculate yearly return
        yearly_return = (1 + data['Daily Return']).prod() - 1

        # Calculate yearly volatility (annualized)
        yearly_volatility = data['Daily Return'].std() * (252**0.5)

        return (round(float(yearly_return),4), round(float(yearly_volatility),4))
    except Exception as e:
        print(f"An error occurred: {e}")
        return (-99, -99)

In [10]:
df.head()

,risk_rating_score,risk_rating_assessment,industry_group,identifier,country,company_name,ticker
0,28.9,Medium Risk,Retailing,NAS:FLWS,United States of America,1-800-flowers-com-inc,FLWS
1,27.7,Medium Risk,Telecommunication Services,ETR:1U1,Germany,1-1-ag,1U1.DE
2,22.5,Medium Risk,Pharmaceuticals,NAS:TXG,United States of America,10x-genomics-inc,TXG
3,16.3,Low Risk,Software & Services,WAR:11B,Poland,11-bit-studios-sa,11B.WA
4,35.0,High Risk,Banks,NAS:SRCE,United States of America,1st-source-corp,SRCE

In [34]:
# results = {}

# for indx, r in df.iterrows():
#     yearly_data = calculate_yearly_returns_volatility(r['ticker'])
#     results[r['ticker']] = yearly_data

# # Create a DataFrame from the results dictionary
# df_results = pd.DataFrame.from_dict(results, orient='index', columns=['return', 'volatility'])
1

1

In [23]:
df_reset=df_results.reset_index()
df_reset = df_reset.rename(columns={'index': 'ticker'})
df_reset.head()

   ticker  return  volatility
0    FLWS -0.2236      0.4191
1  1U1.DE -0.3420      0.2791
2     TXG -0.7357      0.6540
3  11B.WA -0.6866      0.6431
4    SRCE  0.1023      0.3087

In [24]:
df_joined_merge = pd.merge(df, df_reset, on='ticker', how='left')
df_joined_merge.head()

,risk_rating_score,risk_rating_assessment,industry_group,identifier,country,company_name,ticker,return,volatility
0,28.9,Medium Risk,Retailing,NAS:FLWS,United States of America,1-800-flowers-com-inc,FLWS,-0.2236,0.4191
1,27.7,Medium Risk,Telecommunication Services,ETR:1U1,Germany,1-1-ag,1U1.DE,-0.3420,0.2791
2,22.5,Medium Risk,Pharmaceuticals,NAS:TXG,United States of America,10x-genomics-inc,TXG,-0.7357,0.6540
3,16.3,Low Risk,Software & Services,WAR:11B,Poland,11-bit-studios-sa,11B.WA,-0.6866,0.6431
4,35.0,High Risk,Banks,NAS:SRCE,United States of America,1st-source-corp,SRCE,0.1023,0.3087

In [39]:
#df_joined_merge.to_csv("data/esg_return_volatility.csv",index=False)
no_return_df=df_joined_merge[df_joined_merge['return']==-99]

In [52]:
no_tikcer_data=pd.concat([df_joined_merge[df_joined_merge['return'].isnull()], df_joined_merge[df_joined_merge['return']==-99]], ignore_index=True)
# 3316
len(no_tikcer_data)

3540

In [7]:
no_tikcer_data=pd.read_csv("data/no_ticker_data_found.csv")
groups=no_tikcer_data.groupby("country")

In [8]:
df_india = groups.get_group("India")
df_india.head()

,risk_rating_score,risk_rating_assessment,industry_group,identifier,country,company_name,ticker,return,volatility
2,24.7,Medium Risk,Diversified Financials,BOM:542772,India,360-one-wam-ltd,542772.BO,NaN,NaN
3,22.9,Medium Risk,Industrial Conglomerates,BOM:523395,India,3m-india-ltd,523395.BO,NaN,NaN
10,28.6,Medium Risk,Diversified Financials,BOM:544176,India,aadhar-housing-finance-ltd,544176.BO,NaN,NaN
13,32.8,High Risk,Pharmaceuticals,BOM:524348,India,aarti-drugs-ltd,524348.BO,NaN,NaN
14,28.3,Medium Risk,Chemicals,BOM:524208,India,aarti-industries-ltd,524208.BO,NaN,NaN

In [10]:
#df_india['identifier'].to_csv("data/india_identifiers.csv", index=False)

In [18]:
groups.country.value_counts().nlargest(10)

country
India                       630
United States of America    434
Sweden                      355
Canada                      220
United Kingdom              201
Hong Kong                   162
Turkey                      154
China                       147
South Africa                 86
Germany                      68
Name: count, dtype: int64

In [4]:
from googlefinance.client import get_price_data, get_prices_data, get_prices_time_data
param = {
    'q': ".DJI", # Stock symbol (ex: "AAPL")
    'i': "86400", # Interval size in seconds ("86400" = 1 day intervals)
    'x': "INDEXDJX", # Stock exchange symbol on which stock is traded (ex: "NASD")
    'p': "1Y" # Period (Ex: "1Y" = 1 year)
}
# get price data (return pandas dataframe)
get_price_data?

Signature: get_price_data(query)
Docstring: <no docstring>
File:      /Volumes/Macintosh HD 2/Users/vikrambaha/QF-YEAR-2/ML/projects/venv/lib/python3.13/site-packages/googlefinance/client.py
Type:      function